{% extends "base.html" %}

{% block title %}About{% endblock %}


{% block content %}
<div style="background-color: black;"">
    <h1 style="text-align: left; padding: 40px; color: 11999E;">About</h1>
</div>

<div >
    <p style="text-align: left; font-family: Arial, Helvetica, sans-serif; border: 30px; font-size: 20px; padding:10px 400px 10px 50px; ">FreeOCR4ALL is a user-friendly, web-based Optical Character Recognition (OCR) tool that empowers users to effortlessly extract text from images or scanned documents (PDF). This versatile application facilitates text editing, formatting, indexing, searching, and translation with ease.</p>
    <p style="text-align: left; font-family: Arial, Helvetica, sans-serif; border: 30px; font-size: 20px; padding:10px 400px 10px 50px; ">Supported text images range from screenshots taken with a digital camera to photocopies of scanned documents, encompassing a variety of materials such as books, faxes, receipts, bank statements, contracts, bills, business cards, mails, passports, and IDs.</p>
    <p style="text-align: left; font-family: Arial, Helvetica, sans-serif; border: 30px; font-size: 20px; padding:10px 400px 10px 50px; ">FreeOCR4ALL stands out by its ability to recognize multi-column documents composed in over 100 languages. It accommodates various input image formats and PDFs, which users can seamlessly load from their devices or URLs. The platform conveniently displays the recognized text alongside the input source image, streamlining the review process for any potentially mis-recognized words.</p>
    <p style="text-align: left; font-family: Arial, Helvetica, sans-serif; border: 30px; font-size: 20px; padding:10px 400px 10px 50px; ">Users can download the recognized text in different formats, including Text file, MSWord doc, HTML file, simple PDF, or searchable PDF (PDF/A). Additionally, the tool offers the option to translate or edit the extracted text directly online using Google Docs. </p>
</div>


<div style="background-color: black; bottom: 0;">
    <div style="display: flex;justify-content: space-around; background-color: black; padding-bottom: 10px; bottom: 0;">
        <div style="width: 30%; text-align: left; padding-top: 10px;">
            <h1 style="color: #11999E;">About</h1>
            <p style="color: E4F9F6; font-size: 20px; margin-top: 20px;">FreeOCR4ALL is a free online OPTICAL CHARATCER
                RECOGNITION (OCR) web tool that is used to extract text from images and pdf documents</p>
        </div>
        <div style="width: 40%; padding-top: 10px;">
            <h1 style="color: #11999E; ">Follow Me</h1>
            <a style="color: E4F9F6; text-decoration: none; margin: 10px; font-size: 20px;" href="">LinkedIn</a>
            <a style="color: E4F9F6; text-decoration: none; margin: 10px;font-size: 20px;" href="">GitHub</a>
            <a style="color: E4F9F6; text-decoration: none; margin: 10px; font-size: 20px;" href="">Instagram</a>
        </div>

    </div>
    <div style=" background-color: black; ">
        <h4 style="color: #11999E;">Copyright © All Rights reserved by FreeOCR4ALL</h4>

    </div>
</div>


{% endblock %}